In [ ]:
import pandas as pd
import numpy as np

**Diabetes dataset**

In [ ]:
diabetes=pd.read_csv('/content/Dataset of Diabetes .csv')
print("Head",diabetes.head(),sep="\n")
print("Info",diabetes.info(),sep="\n")
print("Describe",diabetes.describe(),sep="\n")

Head
    ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0  502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1  735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2  420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3  680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4  504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4

    BMI CLASS
0  24.0     N
1  23.0     N
2  24.0     N
3  24.0     N
4  21.0     N
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB
Info
None
Describe
                ID     No_Pation          AGE         Urea           Cr  \
count  1000.000000  1.000000e+03  1000.000000  1000.000000  1000.000000
mean    340.500000  2.705514e+05    53.528000     5.124743    68.943000
std     240.397673  3.380758e+06     8.799241     2.935165    59.984747
min       1.000000  1.230000e+02    20.000000     0.500000     6.000000
25%     125.750000  2.406375e+04    51.000000     3.700000    48.000000
50%     300.500000  3.439550e+04    55.000000     4.600000    60.000000
75%     550.250000  4.538425e+04    59.000000     5.700000    73.000000
max     800.000000  7.543566e+07    79.000000    38.900000   800.000000

             HbA1c         Chol           TG          HDL          LDL  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      8.281160     4.862820     2.349610     1.204750     2.609790
std       2.534003     1.301738     1.401176     0.660414     1.115102
min       0.900000     0.000000     0.300000     0.200000     0.300000
25%       6.500000     4.000000     1.500000     0.900000     1.800000
50%       8.000000     4.800000     2.000000     1.100000     2.500000
75%      10.200000     5.600000     2.900000     1.300000     3.300000
max      16.000000    10.300000    13.800000     9.900000     9.900000

              VLDL          BMI
count  1000.000000  1000.000000
mean      1.854700    29.578020
std       3.663599     4.962388
min       0.100000    19.000000
25%       0.700000    26.000000
50%       0.900000    30.000000
75%       1.500000    33.000000
max      35.000000    47.750000

In [ ]:
#missing values
mv=diabetes.isnull().sum()
print("Missing values",mv[mv>0],sep="\n")

Missing values
Series([], dtype: int64)

In [ ]:
#Handling categorical data

from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

diabetes = diabetes.replace(to_replace='f', value='F', regex=True)

# Initialize OrdinalEncoder for Gender column (F -> 0, M -> 1)
ordinal_encoder = OrdinalEncoder(categories=[["F", "M"]])

# Fit and transform the Gender column to create a new column 'Gender_Encoded'
diabetes["Gender_Encoded"] = ordinal_encoder.fit_transform(diabetes[["Gender"]])

# Initialize OneHotEncoder for CLASS column
onehot_encoder = OneHotEncoder(sparse_output=False)  # sparse_output=False gives a dense matrix

# Fit and transform the CLASS column
encoded_data = onehot_encoder.fit_transform(diabetes[["CLASS"]])

# Convert the resulting numpy array to a DataFrame with appropriate column names
encoded_df = pd.DataFrame(encoded_data, columns=onehot_encoder.get_feature_names_out(["CLASS"]))

# Concatenate the encoded columns with the original DataFrame
diabetes_encoded = pd.concat([diabetes, encoded_df], axis=1)

# Drop the original categorical columns (Gender and CLASS) since we have encoded versions
diabetes_encoded.drop(["Gender", "CLASS"], axis=1, inplace=True)

# Display the first few rows of the updated DataFrame
print(diabetes_encoded.head())

    ID  No_Pation  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  \
0  502      17975   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
1  735      34221   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0
2  420      47975   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
3  680      87656   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
4  504      34223   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0

   Gender_Encoded  CLASS_N  CLASS_N   CLASS_P  CLASS_Y  CLASS_Y
0             0.0      1.0       0.0      0.0      0.0       0.0
1             1.0      1.0       0.0      0.0      0.0       0.0
2             0.0      1.0       0.0      0.0      0.0       0.0
3             0.0      1.0       0.0      0.0      0.0       0.0
4             1.0      1.0       0.0      0.0      0.0       0.0

In [ ]:
#Handling Outliers
def detect_outliers(data):
    outliers = []
    threshold = 3
    mean = np.mean(data)
    std = np.std(data)
    z_score=(data-mean)//std
    for i in range(len(data)):
        if np.abs(z_score[i])>threshold:
            outliers.append(i)
    return outliers

print("For Age Column:")
print(detect_outliers(diabetes['AGE']))

For Age Column:
[1, 86, 953, 979]

In [15]:
#Data Transformations min max scalar
def data_transformation(data):
  min=np.min(data)
  max=np.max(data)
  scaled=[]
  for i in data:
    scaled.append((i-min)/(max-min))
  print(scaled)

print("For BMI column, first 50 values")
print(data_transformation(diabetes['BMI'][:50]))

For BMI column, first 50 values
[1.0, 0.8, 1.0, 1.0, 0.4, 0.4, 1.0, 1.0, 0.4, 1.0, 0.8, 0.4, 0.6, 0.8, 1.0, 0.4, 0.4, 0.6, 1.0, 0.8, 1.0, 1.0, 1.0, 0.8, 0.4, 0.6, 0.0, 0.6, 0.6, 0.6, 0.8, 1.0, 0.6, 1.0, 0.8, 0.6, 0.4, 0.4, 1.0, 0.8, 1.0, 0.4, 0.6, 0.4, 1.0, 0.4, 0.8, 1.0, 0.4, 0.6]
None

**Adult income data sets**

In [ ]:
income=pd.read_csv('/content/adult.csv')
print("Head",income.head(),sep="\n")
print("Info",income.info(),sep="\n")
print("Describe",income.describe(),sep="\n")

Head
   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
Info
None
Describe
                age        fnlwgt  educational-num  capital-gain  \
count  48842.000000  4.884200e+04     48842.000000  48842.000000
mean      38.643585  1.896641e+05        10.078089   1079.067626
std       13.710510  1.056040e+05         2.570973   7452.019058
min       17.000000  1.228500e+04         1.000000      0.000000
25%       28.000000  1.175505e+05         9.000000      0.000000
50%       37.000000  1.781445e+05        10.000000      0.000000
75%       48.000000  2.376420e+05        12.000000      0.000000
max       90.000000  1.490400e+06        16.000000  99999.000000

       capital-loss  hours-per-week
count  48842.000000    48842.000000
mean      87.502314       40.422382
std      403.004552       12.391444
min        0.000000        1.000000
25%        0.000000       40.000000
50%        0.000000       40.000000
75%        0.000000       45.000000
max     4356.000000       99.000000

In [ ]:
#missing values
mv=income.isnull().sum()
print("Missing values",mv[mv>0],sep="\n")

Missing values
Series([], dtype: int64)

In [ ]:
#Handling categorical data

from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

# Initialize OrdinalEncoder for Gender column
ordinal_encoder = OrdinalEncoder(categories=[["Male", "Female"]])

# Fit and transform the Gender column
income["Gender_Encoded"] = ordinal_encoder.fit_transform(income[["gender"]])

# Initialize OneHotEncoder for Workclass column
onehot_encoder = OneHotEncoder()

# Fit and transform the Workclass column
encoded_data = onehot_encoder.fit_transform(income[["workclass"]])

# Convert the sparse matrix to a dense array
encoded_array = encoded_data.toarray()

# Convert to DataFrame for better visualization
encoded_df = pd.DataFrame(encoded_array, columns=onehot_encoder.get_feature_names_out(["workclass"]))

# Concatenate the encoded columns with the original DataFrame
income_encoded = pd.concat([income, encoded_df], axis=1)

# Drop the original categorical columns (gender and workclass)
income_encoded.drop(["gender", "workclass"], axis=1, inplace=True)

# Display the first few rows of the updated DataFrame
print(income_encoded.head())

   age  fnlwgt     education  educational-num      marital-status  \
0   25  226802          11th                7       Never-married
1   38   89814       HS-grad                9  Married-civ-spouse
2   28  336951    Assoc-acdm               12  Married-civ-spouse
3   44  160323  Some-college               10  Married-civ-spouse
4   18  103497  Some-college               10       Never-married

          occupation relationship   race  capital-gain  capital-loss  ...  \
0  Machine-op-inspct    Own-child  Black             0             0  ...
1    Farming-fishing      Husband  White             0             0  ...
2    Protective-serv      Husband  White             0             0  ...
3  Machine-op-inspct      Husband  Black          7688             0  ...
4                  ?    Own-child  White             0             0  ...

   Gender_Encoded workclass_? workclass_Federal-gov  workclass_Local-gov  \
0             0.0         0.0                   0.0                  0.0
1             0.0         0.0                   0.0                  0.0
2             0.0         0.0                   0.0                  1.0
3             0.0         0.0                   0.0                  0.0
4             1.0         1.0                   0.0                  0.0

   workclass_Never-worked  workclass_Private  workclass_Self-emp-inc  \
0                     0.0                1.0                     0.0
1                     0.0                1.0                     0.0
2                     0.0                0.0                     0.0
3                     0.0                1.0                     0.0
4                     0.0                0.0                     0.0

   workclass_Self-emp-not-inc  workclass_State-gov  workclass_Without-pay
0                         0.0                  0.0                    0.0
1                         0.0                  0.0                    0.0
2                         0.0                  0.0                    0.0
3                         0.0                  0.0                    0.0
4                         0.0                  0.0                    0.0

[5 rows x 23 columns]

In [ ]:
#Handling Outliers
def detect_outliers(data):
    outliers = []
    q1 = np.percentile(data, 25)
    q3 = np.percentile(data, 75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    for i in range(len(data)):
        if data[i] < lower_bound or data[i] > upper_bound:
            outliers.append(i)
    return outliers

print("For Age Column:")
print(detect_outliers(income['age']))

For Age Column:
[193, 234, 899, 926, 951, 1079, 1398, 1834, 2085, 2290, 2982, 3496, 3668, 4455, 4646, 4658, 6402, 6577, 6757, 6915, 6959, 6976, 6979, 7160, 7170, 7414, 7419, 7539, 7547, 7937, 8206, 8313, 8427, 8955, 8982, 9018, 9038, 9081, 9279, 9769, 9888, 10039, 10199, 10223, 10735, 11289, 11328, 11410, 11837, 11871, 11881, 11940, 12060, 12229, 12446, 13025, 13958, 14033, 14263, 14299, 14431, 14568, 14591, 14740, 15088, 15098, 15408, 15934, 15963, 16003, 16106, 16148, 16251, 16355, 16503, 16711, 17199, 17321, 17449, 18216, 18584, 19035, 19172, 19187, 19492, 19619, 19818, 20058, 20244, 20351, 20390, 21001, 21115, 21385, 21553, 21572, 21651, 21687, 22281, 22454, 22495, 22513, 22720, 22905, 23029, 23762, 24001, 24153, 24457, 24662, 24712, 24803, 24975, 25087, 25244, 25254, 25752, 26405, 26491, 26826, 27380, 27519, 27793, 27813, 28012, 28277, 28732, 28773, 29111, 29256, 29306, 29307, 29576, 29977, 30209, 30385, 30440, 30885, 30992, 31037, 31184, 31637, 31943, 32173, 32583, 32804, 33043, 33182, 33890, 34318, 34422, 34553, 34558, 34694, 34841, 35006, 35113, 35326, 35453, 35461, 35493, 35770, 35776, 35796, 35970, 36028, 36109, 36530, 36702, 36744, 36763, 36764, 36891, 37107, 37161, 37234, 37624, 37782, 38093, 38116, 38501, 38762, 39176, 39179, 39740, 40181, 40308, 40324, 40519, 40561, 40676, 40841, 41444, 41584, 41678, 42293, 42523, 43012, 44076, 44457, 44744, 45002, 45229, 45875, 46005, 47311, 47713, 47977, 48095, 48117, 48136, 48558, 48648, 48740, 48775, 48806]

In [16]:
#Data Transformations Standard Scaler
def data_transformation(data):
  mean=np.mean(data)
  std=np.std(data)
  scaled=[]
  for i in data:
    scaled.append((i-mean)/std)
  print(scaled)

print("For capital-gain column, first 50 values")
print(data_transformation(income['capital-gain'][:50]))

For capital-gain column, first 50 values
[-0.37686781529155805, -0.37686781529155805, -0.37686781529155805, 3.3181785602141023, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, 1.114512114884569, -0.37686781529155805, -0.37686781529155805, 2.7077845829908727, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, 1.114512114884569, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, 3.13073474043689, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, 3.3181785602141023, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, -0.37686781529155805, 1.5014153839118916, -0.37686781529155805, -0.37686781529155805]
None